@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);


@charset "UTF-8";
/* CSS Document */



body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
	
}


a:link {
	outline: none;
    text-decoration: none;
	color: #FFFFFF;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#FFFFFF;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#FFFFFF;
}


h1 {
	font-size: 3em;	
}

.limiter {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	
}

@media only screen and (min-width: 0px) {
	.limiter {
		max-width: 1080px;

 }
}

@media only screen and (min-width: 2000px) {
	.limiter {
		max-width: 1600px;

 }
}


/*------------------------------------------------------------------------------------------------- NAV BAR -------------------------------------- */



#nav {
	height: 140px;
	background-color: #5d6d7a;
	
}

.navbar-default {
	height: 0;
	background-color: #5d6d7a;
	border: none;
}

#smallnav h4, #mininav h4 {
	font-size: 24px;
}

.headerimage {
	position: absolute;
	margin-left: 10px;
	
}
[class*="navbar"] li > a > h4 {
	text-transform: uppercase;
}

[class*="navbar"] li > a.active > h4 {
	color: #92c153 !important;

}



/*-- large h4 nav color and transition */
h4 {
	color: #FFFFFF;
	-o-transition:color .5s ease-out;
  -ms-transition:color .5s ease-out;
  -moz-transition:color .5s ease-out;
  -webkit-transition:color .5s ease-out;
  transition:color .5s ease-out;

}

/*--mini text navigation  */
#mininav h4 {
	color: #000000;
	margin-top: 0px;	
}



/*--collapse spacing @ top  */
#collapse {
	margin-top: 5px;
	
	}
	
/*--mobile login buttons spacing @ top  */
#mobileloginbtn {
	margin-top: 20px;	
}

/*--large text navigation  */
#mainnav {
	margin-top: 30px;
	}

#smallnav {
	margin-top: -80px;
}

#smallnav h4 {
	font-size: 15px;
}

/*--large nav container */	
.location {
	width: 660px;
	
}

.location-sm {
	margin-right: -65px;

	
	
}


/*--nav hover color */
ul.nav a:hover h4 {
	color: #0A0A0A;
}	

/*-- large nav account access buttons */
#portal {
	border-radius: 0px;
	border: none;
	background-color: #92c153;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	float: right;
	margin-right: 10px;	
		
}

#account {
	border-radius: 0px;
	border: none;
	background-color: #92c153;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	float: right;
	margin-right: 140px;
}

/*-- button hover effects */
#account.btn:hover  {
	color: #000000;	
	background: #FFFFFF;
	-o-transition:color .5s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	transition:color .5s ease-out, background .5s ease-in;

}
#portal.btn:hover  {
	color: #000000;	
	background: #FFFFFF;
	-o-transition:color .5s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	transition:color .5s ease-out, background .5s ease-in;

}





.facebook {
	float: right; 
	margin-right: -260px;
	margin-top: 5px;	
}

.twitter {
	float: right; 
	margin-right: -290px;
	margin-top: 5px;	
}


/*-- phone nav account access buttons */
.btn-group-justified {
	margin-right: auto;
	margin-left:auto;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #92c153;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}


/*------------------------------------------------------------------------------------------------- Jumbotron -------------------------------------- */


#jumbotron {
	margin-top: -5px;
	width: 100%;
	
}

.carousel-indicators li {
  background-color: #000000;
  opacity: .9;
}
.carousel-indicators .active {
  background-color: #92c153;
}

/*-- placeholder for jumbotron image captions -- */


.placeholder0 {
	width: auto;
	height: auto; 
	position: absolute;
	margin-left: -150px;
	left: 70%;
	bottom: 0;
        margin-bottom: 8%;
}

.placeholder1 {
	width: auto;
	height: auto; 
	position: absolute;
	margin-left: -150px;
	left: 26%;
	margin-top: 3%;
}

.placeholder2 {
	width: auto;
	height: auto; 
	position: absolute;
	margin-left: -150px;
	right: 26%;
	margin-top: 20%;
}

.placeholder3 {
	width: auto;
	height: auto; 
	position: absolute;
	margin-left: -150px;
	right: 20%;
	margin-top: 10%;
}


.box {
	background-color: #92c153;
	color: #FFFFFF;
	padding: 1px 50px 5px 10px ;
	opacity: .9;	
	margin-bottom: 5px;	
	
}



/*------------------------------------------------------------------------------------------------- Our Philosophy -------------------------------------- */




.philheader {
	margin-top: 50px;
	text-align: center;
	font-size: 50px;	

}

hr {
	width: 30%;
	color: #5d6d7a;	
}

.philbold {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	font-weight: 700;
	width: 95%;
}

.philcopy {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	text-align: center;
	height: auto;
	font-size:18px;
	font-weight: 300;
}

@media only screen and (min-width: 0px) {
   .philcopy {
		width:	90%;   
   }
	
	
}

@media only screen and (min-width: 1500px) {
   .philcopy {
		width: 35%;   
   }
	
	
}



/*------------------------------------------------------------------------------------------------- login blocks-------------------------------------- */


.loginblock {
	margin-top: 50px;
	width: 100%;
	background-color:  #5d6d7a;
	text-align: center;
        height: 450px;	
}

.leftblock {
	height: 450px;
	border-right:medium inset #425966;
	width: 50%;

		
}

.rightblock {
	width: 50%;
	height: auto;
		
}

.loginblock img {
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;

	
}


.copy {
	width: 50%;
	min-width: 300px;
	color: #FFFFFF;
	font-size:16px;
	font-weight: 300;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #5d6d7a;
}


#buttons {
	border-radius: 0px;
	border: none;
	background-color: #92c153;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-weight: 300;	
	margin-top: 13%;
	margin-bottom: 3%;
	padding:  20px;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 20px;
}

.loginblock-xs {
	margin-top: 50px;
	width: 100%;
	height: 800px;
	background-color:  #5d6d7a;
	text-align: center;	
}


/*-------------------------------------------------------------------------------------------------  green nav bar-------------------------------------- */


.greenbar {
	width: 100%;
	background-color: #92c153;
	text-align: center;
	
}


@media only screen and (min-width: 0px) {
	.greenbar {
		height: 900px;
	}
}

@media only screen and (min-width: 768px) {
   
   .greenbar {
		height: 300px;
	}



	}

@media only screen and (min-width: 2330px) {
 
	.greenbar {
		height: 300px;
	}

	
}



.about {
	
	height: 300px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	top: 80px;
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;

}


.services {
	
	height: 300px;	
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	top: 80px;
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;

}

.contact {
	
	height: 300px;	
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	top: 80px;
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	
	
}

nav a h4, .footer li a h4 {
	text-transform: uppercase;
}


/*-------------------------------------------------------------------------------------------------  wellness and planning -------------------------------------- */
@media only screen and (min-width: 0px) {
  .wellnessimage {
		width: 100%;	
	}

	.planningimage {
		width: 100%;	
	}
	
	.wellnesstxt {
		position: absolute;
		margin-top: 3%;
		font-size: 400%;
		float: left;
		margin-left: 50%;
		left: -140px;
	}
	
	
	.planningtxt {
		position: absolute;
		margin-top: 35%;
		font-size: 400%;
		float: right;
		margin-right: 0;
		margin-left: 50%;
		left: -140px;
	}
	
}


@media only screen and (min-width: 400px) {	
	.wellnesstxt {
		position: absolute;
		margin-top: 10%;
		font-size: 400%;
		float: left;
		margin-left: 50%;
		left: -150px;
	}
	
	
	.planningtxt {
		position: absolute;
		margin-top: 43%;
		font-size: 400%;
		float: right;
		margin-right: 0;
		margin-left: 50%;
		left: -150px;
	}

	
	
}

@media only screen and (min-width: 768px) {
  
  	.wellnessimage {
		width: 50%;	
		
	}

	.planningimage {
		width: 50%;
			
	}
	
	.wellnesstxt {
		position: relative;
		margin-top: -12%;
		font-size: 400%;
		float: left;
		margin-left: 12%;
		left: 0;
		
	}
	
	
	.planningtxt {
		position: relative;
		margin-top: -12%;
		font-size: 400%;
		float: right;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}



	
	

@media only screen and (min-width: 1500px) {
  
	
	.wellnesstxt {
		margin-top: -16%;
		float: left;
		margin-left: 12%;
		left: 0;
	}
	
	
	.planningtxt {
		margin-top: -16%;
		float: right;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}
	
@media only screen and (min-width: 2000px) {
  
	
	.wellnesstxt {
		margin-top: -13%;
		float: left;
		font-size: 500%;
		margin-left: 12%;
		left: 0;
	}
	
	
	.planningtxt {
		margin-top: -13%;
		float: right;
		font-size: 500%;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}
	
@media only screen and (min-width: 2200px) {
  
	
	.wellnesstxt {
		margin-top: -16%;
		float: left;
		font-size: 500%;
		margin-left: 12%;
		left: 0;
	}
	
	
	.planningtxt {
		margin-top: -16%;
		float: right;
		font-size: 500%;
		margin-right: 12%;
		margin-left: 0;
		left: 0;
	}


	}
	



.wellnesstxt {
	z-index: 5;

}

.planningtxt {
	z-index: 5;
}

.wellnessimage {
	position:relative;
	float: left;
	z-index:-1;
	
	
}

.planningimage {
	position:relative;
	float: left;
	z-index:-1;
}






/*-------------------------------------------------------------------------------------------------  Newsletter -------------------------------------- */


.whitebar a:link {
    text-decoration: none;
	color: #000000;
}

.whitebar a:visited {
    text-decoration: none;
	color:#000000;
}

.whitebar a:hover { 
    text-decoration: none;
	color: #92c153;
}

.whitebar a:active {
    text-decoration: none;
	color:#000000;
}

a {

  -o-transition:color 1s ease-out, background 2s ease-in;
  -ms-transition:color 1s ease-out, background 2s ease-in;
  -moz-transition:color 1s ease-out, background 2s ease-in;
  -webkit-transition:color 1s ease-out, background 2s ease-in;
  transition:color 1s ease-out, background 2s ease-in;
}


.whitebar {
	height: 400px;
	width: 100%;
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
}



.newsletter { 
	height: 300px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	top: 110px;
	font-size: 30px;
	color: #000000;
	opacity: .7;
        font-weight: 300;
}


.inthenews { 
	height: 300px;	
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	top: 110px;
	font-size: 30px;
	color: #000000;
	opacity: .7;
        font-weight: 300;
}

.signup {
	height: 300px;	
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	top: 110px;
	font-size: 30px;
	color:#000000;
	opacity: .7;
	font-weight: 300;
	
}



/*-------------------------------------------------------------------------------------------------  Footer -------------------------------------- */


.footer{
	text-align: center;
	width: 100%;
	background-color: #5d6d7a;
	height: auto;
}


.footer ul {
	padding: 0;
	margin: 0;
	list-style: none;	
}


.footer ul li {
	display: inline-block;
	margin: 10px;
	letter-spacing: 2px;
	color: #FFFFFF;
}


.footercopy {
	color: #FFFFFF;
	width: 100%;
	padding: 15px 5px 15px 5px;
	margin-right: auto;
	margin-left: auto;
	
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  About Page -------------------------------------- */



#about {
	color: #92c153;	
}

#about:hover {
	color: #000000;	
}

@media only screen and (min-width: 0px) {
	.aboutplaceholder {
		margin-top: 5px;
                left: 0%;
                width: 100%;
                margin-left: 0px;
	}
}

@media only screen and (min-width: 1200px) {
	.aboutplaceholder {
		margin-top: 5%;
                left: 50%;
                width: 50%;
                margin-left: -150px;
	}
}

.aboutbox {
	margin-top: 20px;
	background-color: #92c153;
	color: #FFFFFF;
	padding: 1% 7% 7% 7% ;
	opacity: .9;	
	margin-bottom: 5px;	
	font-weight: 300;
	
}

.aboutplaceholder {
	
	height: auto; 
	position: absolute;
	
	
	min-width: 700px;
	
}



/*-------------------------------------------------------------------------------------------------  staff -------------------------------------- */


.staffcontain {
	position: relatice;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	width: 85%;
	

	
		
}

#largecontain {
		margin-top: 50px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
}


/* changes font size and color for large headshot images */
#largecontain a {
		color: #212121;
}


/* centers large headshot images */
.img-responsive {
	margin-right: auto;
	margin-left: auto;
}


/* hover effect */

.greyscale img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	
}



.greyscale img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	
}	



/* end hover effect */

@media only screen and (min-height: 0px) {
  
	#aboutname {
		font-size: 2em;
}

	#position {
		margin-top: -10px;
		font-size: 1em;
		color: #FF7100;
		margin-bottom: 20px;
}


	}

@media only screen and (min-height: 800px) {
  
	#aboutname {
		font-size: 2em;
}

	#position {
		margin-top: -10px;
		font-size: 1em;
		color: #FF7100;
		margin-bottom: 20px;
}


}

@media only screen and (min-height: 1200px) {
  
	#aboutname {
		font-size: 2.5em;
}

	#position {
		margin-top: -10px;
		font-size: 1.5em;
		color: #FF7100;
		margin-bottom: 20px;
}


}


#smallcontain a {
		color: #212121;
}

#smallcontain {
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		max-width: 1970px;
		margin-bottom: 50px;
		
}


.toreveal {
	background-color: #92c153;
	color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	text-align: left;
	margin-bottom: 20px;
	width: 100%;
	font-weight: 300;
}






/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  Wellness Page -------------------------------------- */


#wellness {
	color: #92c153;	
}

#wellness:hover {
	color: #000000;	
}


@media only screen and (min-width: 0px) {
	.wellnessplaceholder {
		width: 700px;
	}
}

@media only screen and (min-width: 1600px) {
	.wellnessplaceholder {
		width: 1000px;
	}
}


.wellnessplaceholder {
	margin-left: 20px;
	font-size: 24px;
	margin-bottom: 50px;
}


.wellnessplaceholder h2{
	color: #92c153;
	font-size: 50px;
	
}

.wellnessbox {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 95%;
	font-size: 24px;
}

.wellnessplaceholder a{
	color: #000;
}

.wellnessbox h2{
	color: #92c153;
	font-size: 50px;
	
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  Planning Page -------------------------------------- */





#planning {
	color: #92c153;	
}

#planning:hover {
	color: #000000;	
}

@media only screen and (min-width: 0px) {
	.planningplaceholder {
		width: 700px;
	}
}

@media only screen and (min-width: 1600px) {
	.planningplaceholder {
		width: 1000px;
	}
}

.planningplaceholder {
	margin-left: 20px;
	font-size: 24px;
	margin-bottom: 50px;
}

.planningplaceholder h2{
	color: #92c153;
	font-size: 50px;
}

.planningbox {
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	margin-bottom: 20px;
	font-size: 24px;
}

.planningbox h2{
	color: #92c153;
	font-size: 50px;
	
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  News Page -------------------------------------- */



#news {
	color: #92c153;	
}

#news:hover {
	color: #000000;	
}

@media only screen and (min-width: 0px) {
	.newsplaceholder {
		width: 700px;
	}
}

@media only screen and (min-width: 1600px) {
	.newsplaceholder {
		width: 1000px;
	}
}

.newsplaceholder {
	margin-left: 20px;
	font-size: 24px;
	margin-bottom: 50px;
}

.newsplaceholder h2{
	color: #92c153;
	font-size: 50px;
}

.newsbox {
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	margin-bottom: 20px;
	font-size: 24px;
}

.newsbox h2{
	color: #92c153;
	font-size: 50px;
	
}




/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  Contact Page -------------------------------------- */


#contact {
	color: #92c153;
}

#contact:hover {
	color: #000000;	
}

.contactcontain {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-left: -100px;
	margin-top: 8%;
		
}

.formcontrol ul {
	list-style: none;
}

.formcontrol ul li {
	margin: 5px;
}

.formcontrol-xs {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;	
}

.infocontain {
	margin-top: 50px;
	width: 50%;
	text-align: right;
        font-weight: 300;
}

.formcontain {
	width: 50%;
	text-align: left;
}




#name {
	min-width: 300px;
	width: 50%;	
	font-weight: 300;
}


#phone {
	min-width: 300px;
	width: 50%;
	font-weight: 300;
}

#email {
	min-width: 300px;
	width: 50%;	
	font-weight: 300;
}


#message {
	min-width: 300px;
	width: 50%;	
	font-weight: 300;	
}


#submitButton {
	background-color: #92c153;
	border: none;
	font-weight: 300;
	margin-bottom: 50px;
}


.imgContain {
	position: relative;
}

.img-behind {
	position: absolute;
	z-index: 1;
	top: 0;
}

.img-front {
	position: relative;
	z-index: 2;
	-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}

.imgContain:hover .img-front {
	opacity:0;
}


#whitepaper .modal-dialog {
	text-align: center;
	background: black;

}

#whitepaper .modal-dialog .modal-content {
	padding:3em;
	background: black;
	color:white;
}

#whitepaper .modal-dialog .modal-content .close {
	color:white;
	opacity:1;
}

#whitepaper .modal-dialog .modal-content input[type=text], #whitepaper .modal-dialog .modal-content input[type=email]{
	color: black;
}


.form-success {
  position: absolute;
  width: 50%;
  z-index: 10000;
  left: 50%;
  margin-left: -25%;
  top: 50%;
}

