   <div class="row hidden-xs">
      
            <div class="carousel slide " data-ride="carousel" id="jumbotron">
                <ol class="carousel-indicators">
                  [[getResources?
                      &parents=`1`
                      &tpl=`home_pagination`
                      &showHidden=`0`
                      &limit=`0`
                      &idx=`0`
                      &showUnpublished=`1`
                    ]]



                    
              </ol>
                <div class="carousel-inner">
                  [[getResources?
                      &parents=`1`
                      &tpl=`home_carousel_whitepaper`
                      &tplFirst=`home_carousel_first_whitepaper`
                      &showHidden=`0`
                      &limit=`0`
                      &idx=`0`
                      &showUnpublished=`1`
                      &includeContent=`1`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tvPrefix=``
                    ]]
                </div>
               <a class="left carousel-control" href="#jumbotron" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span></a>
               <a class="right carousel-control" href="#jumbotron" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span></a>
               
            </div>
       
   </div>