<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- icon fade !--> 
<script> $(document).ready(function() {  
$('.about img, .services img, .contact img').css('opacity', 0.4);    
$('.about, .services, .contact').hover(  
   function(){  
      $(this).find('img').stop().fadeTo('fast', 1);  
   },  
   function(){  
      $(this).find('img').stop().fadeTo('slow', .4);  
   });  
  
});


	
</script>  




</body>
</html>