<div class="row">
        	 <div class="footer">
             	<div class="limiter">
                [[Wayfinder? 
                            &level=`1`
                            &startId=`0`
                            &rowTpl=`nav_inner`
                            &outerTpl=`footer_nav`
                            &sortBy=`menuindex`
                        ]]
            <div class="footercopy">
                              <p> <b>Legacy Financial Group • 2400 NW 86th Street Suite 25 Des Moines, Iowa 50325 • 515.334.5266 • info@LFGplanners.com</b> </p>
                
                <p>Legacy Financial Group, LLC is a Registered Investment Adviser. Advisory services are only offered to clients or prospective clients where Legacy Financial Group, LLC and its representatives are properly licensed or exempt from licensure.  Past performance is no guarantee of future returns.  Investing involves risk and possible loss of principal capital.  No advice may be rendered by Legacy Financial Group, LLC unless a client service agreement is in place.</p> 
                
                <p>&copy; Legacy Financial 2014</p>
		</div>
             </div>
             </div> 
        </div>
  
  
  
 </div>
   
   
   
<!-- javascript !-->

[[$doc_footer]]