<div class="row hidden-xs">
         	<div class="loginblock">
            	<div class="limiter">
         		<div class="leftblock col-lg-6 col-md-6 col-sm-5 col-xs-12">
       				<a href="[[++account_login]]" target="_blank"><button type="button" class="btn btn-default  " id="buttons">Account Access</button></a>
                         <div class="copy">[[*account_content]]<br>
                         	
                  		</div>
                        <a href="[[++account_login]]" target="_blank" ><img class="img-responsive"  src="[[*account_image]]" width="200.5" height="65" alt=""/ ></a>
              </div>
                 
                
                 
                    <div class="rightblock col-lg-6 col-md-6 col-sm-5 col-xs-12 " >
       					<a href="[[++portal_login]]" target="_blank"><button type="button" class="btn btn-default  " id="buttons">Client Portal</button></a>
                         <div class="copy">[[*portal_content]]<br>
                         	
                  	</div>
                    <a href="[[++portal_login]]" target="_blank" ><img class="img-responsive" src="[[*portal_image]]" width="200.5" height="65" alt=""/ ></a>
         		</div>
                </div>
         	</div>
         </div>
         
         
         
         <!-- row 4: miniLogins -->
         
         <div class="row visible-xs">
         	<div class="loginblock-xs">
            	<div class="limiter">
         		<div class="topblock">
       				<a href="[[++account_login]]" target="_blank"><button type="button" class="btn btn-default  " id="buttons">Account Access</button></a>
                         <div class="copy">[[*account_content]]<br>
                         	
                  		</div>
                        <a href="[[++account_login]]" target="_blank" ><img class="img-responsive"  src="[[*account_image]]" width="200.5" height="65" alt=""/ ></a>
              </div>
                 
                
                 
                    <div class="bottomblock" >
       					<a href="[[++portal_login]]" target="_blank"><button type="button" class="btn btn-default  " id="buttons">Client Portal</button></a>
                         <div class="copy">[[*portal_content]]<br>
                         	
                  	</div>
                    <a href="[[++portal_login]]" target="_blank" ><img class="img-responsive" src="[[*portal_image]]" width="200.5" height="65" alt=""/ ></a>
         		</div>
                </div>
         	</div>
         </div>