 
                
               <div class="row">
                  <div class="wellnessimage">
                        <img class="img-responsive" src="[[*wellness_image]]"  alt=""/>
                  </div>
                        
                       <div class="planningimage">
                      <img class="img-responsive" src="[[*planning_image]]" alt=""/>
                      </div>
                        
                       
                        <div class="limiter">
                          <div class="planningtxt">
                              <a href="[[*planning_link]]">PLANNING</a>
                             </div>
                             
                           <div class="wellnesstxt">
                              <a href="[[*wellness_link]]">WELLNESS</a>
                            </div>
                  </div>
                   
              </div>