
  		<div class="row"> 
         	 <div class="whitebar limiter"> 
               
                <div class="newsletter col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <a href="[[*newsletter_link]]" target="_blank" ><img src="images/homepage/newsletter.png" width="100" height="100"  alt=""/><br>
                        <b>News</b>Letter 
                     </a>
               </div>
                  <div class="inthenews col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="[[*news_link]]"><img src="images/homepage/inthenews.png" width="100" height="100" alt=""/><br>
                        <b>In</b>theNews
                    </a>
                 </div>
                <div class="signup col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   	<a href ="[[*signup_link]]" target="_blank"><img src="images/homepage/signup.png" width="100" height="100" alt=""/><br>
                        <b>Sign</b>Up
                    </a>
                </div> 
        	</div>
       </div>