 
         
        <div class="row"> 
         	 <div class="greenbar"> 
               <div class="limiter">
                <div class="about col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <a href="/about"><img src="images/homepage/abouticon.png" width="100" height="100"  alt=""/><br>
                        about us 
                     </a>
               </div>
                  <div class="services col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <a href="/wellness"><img src="images/homepage/servicesicon.png" width="100" height="100" alt=""/><br>
                        services
                    </a>
                 </div>
                <div class="contact col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   	<a href ="/contact"><img src="images/homepage/contacticon.png" width="100" height="100" alt=""/><br>
                        contact
                    </a>
                </div> 
                 </div>
    
             
        	</div>
       </div>