<div class="item active">
  <div class="placeholder[[+idx]]">
  <div class="box">
      [[+content]]
    </div>
    <button type="button" class="btn btn-default " data-toggle="modal" data-target="#whitepaper">[[+button_text]]</button>
  </div>
  <img class="jumboimage img-responsive" src="[[+carousel_image]]" alt=""/> 
</div>