<div class="item active">
  <div class="placeholder[[+idx]]">
  <div class="box">
      [[+content]]
    </div>
    <a href="[[+button_link]]"><button type="button" class="btn btn-default " >[[+button_text]]</button></a>
  </div>
  <img class="jumboimage img-responsive" src="[[+carousel_image]]" alt=""/> 
</div>