<a href="[[++account_login]]" target="_blank"><button type="button" class="btn btn-default hidden-xs" id="account">Account Access</button></a>
<a href="[[++portal_login]]" target="_blank"><button type="button" class="btn btn-default hidden-xs " id="portal">Client Portal</button></a>
<a class="facebook hidden-xs " target="_blank" href="[[++facebook]]"><img src="images/facebook.gif" width="20" height="20" alt=""/></a>
<a class="twitter hidden-xs " target="_blank" href="[[++twitter]]"><img src="images/twitter.gif" width="20" height="20" alt=""/></a>