<div id="nav">
    		<nav class="navbar navbar-default navbar-static-top limiter"  role="navigation">
  			
           
                        
              <!-- hidden nav button --> 
                <div class="navbar-header">
             
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    
                  <div class="headerimage pull-left">
                         <a href="/"><img  src="images/headerlogo.png" class="img-responsive" alt=""/></a> 
                  </div>
                    
                    
              </div>
              
                   
        
           
              
                 <div class="location-sm visible-sm">
        				 <!-- account buttons --> 
  						[[$logins]]
                </div>
               
      
     			 <!-- main nav --> 
              
              
              
              		<div class="location pull-right hidden-sm hidden-xs">
        				 <!-- account buttons --> 
  						  [[$logins]]
                      
                      <!-- main nav --> 
                		
                        [[!Wayfinder? 
                            &level=`1`
                            
                            &startId=`0`
                            &rowTpl=`nav_inner`
                            &outerTpl=`main-nav`
                            &sortBy=`menuindex`
                        ]]
                    
                   </div>
  				</div> 
                
                
             
                
               <!-- small nav --> 
                    
                        [[!Wayfinder? 
                            &level=`1`
                            
                            &startId=`0`
                            &rowTpl=`nav_inner`
                            &outerTpl=`small-nav`
                            &sortBy=`menuindex`
                        ]]
                    
           
                
        
                  <!-- mini nav -->   
                <div class="collapse navbar-collapse " id="collapse">
                    
                        [[!Wayfinder? 
                            &level=`1`
                            
                            &startId=`0`
                            &level=`1`
                            
                            &rowTpl=`nav_inner`
                            &outerTpl=`mini-nav`
                            &sortBy=`menuindex`
                        ]]
                </div>
             
              
         
              
           <!-- mobile account access -->   
          <div class="container-fluid">
              <div class="btn btn-group-justified navbar-toggle" id="mobileloginbtn">
  					<div class="btn-group">
    					<a href="[[++account_login]]">Account Access</a>
                 </div>
              </div>
              <div class="btn btn-group-justified navbar-toggle" >
  					<div class="btn-group">
    					<a href="[[++portal_login]]">Client Portal</a>
                 </div>
              </div>
          </div>
           
              
          		
        </nav> 
    </div>