<div class="greyscale col-lg-3 col-md-3 col-sm-3">
      <a href="javascript:void(0)" onClick="getName('[[+staff_name:lcase:stripString=` `:striptags=`1`:limit=`4`]]')">
      	<img src="[[+staff_headshot]]" class="img-responsive"  alt=""/>
         	<p><div id="aboutname">[[+staff_name]]</div></p>
         <div id="position">[[+staff_title]]</div>
         [[+staff_email:notempty=`<div id="position"><a href="mailto:[[+staff_email]]">[[+staff_email]]</a></div>`]]
      
      <div class="toreveal" id="[[+staff_name:lcase:stripString=` `:striptags=`1`:limit=`4`]]">
      	<div class="limit">
      	  [[+staff_description]]
         </div>
      </div>
      </a>
</div>
