<div class="col-lg-4 col-md-4 col-sm-4">
      <a href="javascript:void(0)" onClick="getName('[[+staff_name:lcase:stripString=` `:striptags=`1`:limit=`4`]]')">
         <div class="imgContain">
         	<img src="[[+staff_headshot]]" class="img-responsive img-front"  alt=""/>
            <img src="[[+staff_headshot2]]" class="img-responsive img-behind" alt="">
         </div>
         	<p><div id="aboutname">[[+staff_name]]</div></p>
         <div id="position">[[+staff_title]]</div>
         [[+staff_email:notempty=`<div id="position"><a href="mailto:[[+staff_email]]">[[+staff_email]]</a></div>`]]
      
      <div class="toreveal" id="[[+staff_name:lcase:stripString=` `:striptags=`1`:limit=`4`]]">
      	<div class="limit">
      	  [[+staff_description]]
         </div>
      </div>
      </a>
</div>
