[[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`[[++primary_email]]`
       &emailTpl=`whitepaperRequest`
       &emailTo=`[[+email]], cooper@ten25designs.com, info@lfgplanners.com`
       &emailSubject=`Brief Download Request`
       &validate=`name:required, email:required, email:email,nospam:blank`
      &successMessage=`<div class="alert alert-success form-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for your interest.</h3>
      <p>A link to your download will be emailed to you shortly</p>
    </div>`
    ]]
  [[!+fi.successMessage]]
  <div class="modal fade" id="whitepaper" tabindex="-1" role="dialog" aria-labelledby="whitepaper" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>Want a copy of our latest brief? Complete the form below.</p>
          <form name="enq" method="post" action="[[~[[*id]]]]">
              <fieldset>
                <p>Name</p>
                      <p><input type="text" name="name" id="name" value="[[+fi.name]]"  class="input-block-level" placeholder="Name" /></p><br>
                      <p>Email</p>
                    <p><input type="email" name="email" id="email" value="[[+fi.email]]" class="input-block-level" placeholder="Email" /></p>
                  <input value="[[!+fi.nospam]]" type="hidden" id="nospam" name="nospam" class="nospam">
                    <p><input type="submit" value="Submit" name="submit" id="submitButton" class="btn btn-info" title="submit" /></p>
              </fieldset>
            
            </form> 
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->