[[$doc_head]]
<div class="container-fluid">
  <!-- row 1: navigation -->
    <div class="row">
      [[$mainnav]]
    
    <!-- row 2: Jumbotron -->
    
   <div class="row hidden-xs">
   		
            <div  id="jumbotron">
               
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="aboutplaceholder">
                          <div class="aboutbox">
                              <h1>[[*pagetitle]]:</h1>
                              [[*content]]
                          </div>
                          [[$button]]                      
                        </div>
                     <img class="jumboimage img-responsive" src="[[*header_image]]" alt=""/> 
                    </div>
                  
            </div>
       
   </div>
  </div>
  
  
  
  <div class="row">
  	<div class="aboutbox visible-xs">
    <h1>[[*pagetitle]]:</h1>
    [[*content]]
                          </div>
    
  	</div>

<!-- row 2: Staff Grid -->
  
  
<div class="row"> 
  <div class="staffcontain limiter">
  	 <h2>OUR STAFF:</h2>
     	<div class="row" id="largecontain">
            [[!getImageList? &tvname=`staff` &tpl=`staff2`]]
  		</div>
        
        <div class="row" id="smallcontain">
        	[[!getImageList? &tvname=`staff2` &tpl=`staff`]]
            
       
 		     </div> 
 	</div>  
 </div>
         
     
         
     
  
  
  
  		<!-- footer --> 
      [[$footer]]




