[[$doc_head]]

<div class="container-fluid">
  <!-- row 1: navigation -->
    <div class="row">
      [[$mainnav]]
    
[[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`[[++primary_email]]`
       &emailTpl=`snt_email_TPL`
       &emailTo=`justin.lobaito@weloideas.com, cooper@ten25designs.com, info@lfgplanners.com`
       &emailSubject=`Contact Form Submission`
       &validate=`name:required, email:required, email:email, message:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>A [[++site_name]] representative will get in contact with you shortly</p>
    </div>`
    ]]
<div class="limiter row hidden-xs">
    <div class="contactcontain">
    [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div>
          <strong><h3>Please review the following errors:</h3></strong>
                [[!+fi.error.name:!empty=`<p>Name is required</p>`]]
                [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
                 [[!+fi.error.message:!empty=`<p>Please enter in additional comments</p>`]]

    </div>
</div>


`]]
[[!+fi.successMessage]]

    
    <div class="infocontain col-lg-6 col-md-6 col-sm-6">
    
          <p> <b> Legacy Financial Group</b></p>
            <p>2400 NW 86th Street Suite 25 </p>
            <p>Des Moines, Iowa 50325</p>
            <p>515.334.5266</p>
            <p>info@LFGplanners.com</p>
   
      </div>
        <div class="formcontain col-lg-6 col-md-6 col-sm-6">
            <h2>Contact Us</h2>
                        [[$contact_form]]
        </div>
        
      
    </div>
</div>


<div class="limiter row visible-xs">
  
        [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div>
          <strong><h3>Please review the following errors:</h3></strong>
                [[!+fi.error.name:!empty=`<p>Name is required</p>`]]
                [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
                 [[!+fi.error.message:!empty=`<p>Please enter in additional comments</p>`]]

    </div>
</div>


`]]
[[!+fi.successMessage]]

            
           <div class="formcontrol-xs">
              <h2>Contact Us</h2>
                [[$contact_form]]
        
          
        
        
        
          <p> <b> Legacy Financial Group</b></p>
            <p>2400 NW 86th Street Suite 25 </p>
            <p>Des Moines, Iowa 50325</p>
            <p>515.334.5266</p>
            <p>info@LFGplanners.com</p>
       
  
         </div>  
     </div>  

      [[$footer]]