[[$doc_head]]
<div class="container-fluid">
  [[$whitepaper]]
	<!-- row 1: navigation -->
    <div class="row">
    	[[$mainnav]]
     <!-- row 2: Jumbotron -->
      [[$carousel]]
    <!-- row 3: Our Philosophy -->
        <div class="row">
			<div class="philheader"> 
            	Our Philosophy
            </div>
         <hr>
         <div class="philbold">
            <b>[[*quote]]</b>
         </div>
       	 <div class="philcopy">
            	[[*quote_content]]
         </div>
          	<hr>
         </div>   
     
    <!-- row 4: Logins -->
         
         [[$homepage_logins]]
  
 	<!-- row : services -->        
        [[$homepage_services]]
       
        <!-- revealed after screen is xs --> 
   
     <!-- row : wellness and planning  -->
    [[$homepage_2Column]]
  
  	 <!-- row : newsletter  -->
  [[$homepage_3Column]]

  		<!-- footer --> 
  		[[$footer]]