[[$doc_head]]
<div class="container-fluid">
  <!-- row 1: navigation -->
    <div class="row">
      [[$mainnav]]
    
    <!-- row 2: Jumbotron -->
    
   <div class="row hidden-xs">
      
            <div  id="jumbotron">
               
                <div class="carousel-inner">
                    <div class="item active">
                      
                     <img class="jumboimage img-responsive" src="[[*header_image]]" alt=""/> 
                      <div class="limiter">
                       <div class="wellnessplaceholder">
                        
                            <h2>[[*pagetitle]]:</h2>
                      
                            [[*content]]
                          [[$button]]
                          
                          
                          </div>
                          
                      </div>
                    </div>
                  
            </div>
       
   </div>
  </div>
  <div class="row">
    
      <div class="wellnessbox visible-xs">
        <h2>[[*pagetitle]]</h2>
         [[*content]]
        </div>
    
    </div>
      <!-- footer --> 
      [[$footer]]

